<section class='hero'>
  <div class="wrapper">
    <div class="hero__container">
      <h1 class="heading heading--h1" >Hi!<br/> <em>I'm</em> Paweł</h1>
      <p class='hero__caption'>I'm looking for a new job</p>
      <a class="button">My Github <img src='https://raw.githubusercontent.com/PawelMatusz/portfolio-react/b9c0d8dbff480a0b1af79a08c12d9fdf7af608d0/src/assets/icons/github.svg' alt='GitHub icon'/></a>
    </div>

    <img class="img" src='../../../assets/img/pawel.png' alt='pawel foto'/>
  </div>
</section>
