.hero {
height: 100%;
  .wrapper {
    height: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
  }
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    flex-direction: column;
  }

  // .heading,
  // &__caption,
  // .button {

  // }

  // .heading {

  // }

  .img {
    width: 100%;
    max-width: 50%;
    max-height: 100%;
  }

}
