<section class='hero'>
  <div class="wrapper">
    <h1 class="heading heading--h1" >Cześć,<br/> <em>jestem</em> Paweł</h1>
    <p class='hero__caption'>Szukam pracki</p>
    <a class="button">Moje prace <img src='https://raw.githubusercontent.com/PawelMatusz/portfolio-react/b9c0d8dbff480a0b1af79a08c12d9fdf7af608d0/src/assets/icons/github.svg' alt='GitHub icon'/></a>

    <img class="img" src='https://github.com/PawelMatusz/portfolio-react/blob/main/src/assets/img/pawel.png?raw=true' alt='pawel foto'/>
  </div>
</section>
