/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

:root {
  --font-family-default: 'Roboto Flex', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;

  --font-size-h1: 5.4rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.4rem;

  --line-height-h1: 64/54;
  --line-height-h2: 48/32;
  --line-height-h3: 32/24;

  --wrapper-width: 104rem;
  --wrapper-padding: 3rem;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

li {
    list-style: none;
}


html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-default);
    font-size: 1.6rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
  width: calc(var(--wrapper-width) + 2 * var(--wrapper-padding));
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.heading {
  font-family: var(--font-family-mono);

  @for $level from 1 through 3 {
    &--h#{$level} {
      font-size: var(--font-size-h#{$level});
      line-height: var(--line-height-h#{$level});
    }
  }
}
